NODE_ENV=production
PORT=3000

# Configuration de la base de donnees PostgreSQL
DB_HOST=clickfast-db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=clickfast_db

# Variables d'initialisation pour le conteneur officiel PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=clickfast_db
